{% extends 'owner/base.html' %}

{% block title %}通常授業{% endblock %}
{% block headline %}通常授業{% endblock %}

{% block style %}
<style>
    .custom-dropdown {
        background-color: #f8f9fa; /* メニューの背景色 */
        border: 1px solid #ced4da; /* メニューの境界線 */
    }

    .custom-dropdown .dropdown-item {
        color: #495057; /* メニューのテキスト色 */
    }

    .custom-dropdown .dropdown-item-delete:hover {
        background-color: #f81919; /* メニューのホバー時の背景色 */
    }

    .custom-dropdown .dropdown-item-stop:hover {
        background-color: #f8ed19; /* メニューのホバー時の背景色 */
    }

    .custom-dropdown .dropdown-item.cancel-lesson {
        color: #dc3545; /* 受講取消のテキスト色 */
    }

    .custom-dropdown .dropdown-item.stop-lesson {
        color: #ffc107; /* 受講中止のテキスト色 */
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form method="get" class="col-3">
            <select name="student_id" id="student" class="form-control">
                <option value="">生徒を選択</option>
                {% for student in students %}
                    <option value="{{ student.id }}" {% if selected_student_id == student.id %}selected{% endif %}>{{ student }}</option>
                {% endfor %}
            </select>
        </form>
        <div class="col-9 d-flex justify-content-end">
            <a href="{% url 'owner:regular_create' %}" class="btn btn-primary">新規追加</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>生徒名</th>
                <th>科目</th>
                <th>曜日</th>
                <th>時間</th>
                <th>開始日</th>
                <th>編集</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
        {% for regular_lesson in regular_lessons %}
        <tr data-id="{{ regular_lesson.id }}" data-student-id="{{ regular_lesson.student.id }}">
            <td>{{ regular_lesson.student }}</td>
            <td data-subject="{{ regular_lesson.subject }}">{{ regular_lesson.get_subject_display }}</td>
            <td data-day="{{ regular_lesson.day }}">{{ regular_lesson.get_day_display }}</td>
            <td data-time="{{ regular_lesson.time }}">{{ regular_lesson.get_time_display }}</td>
            <td>{{ regular_lesson.start_date.month }}月{{ regular_lesson.start_date.day }}日</td>
            <td>
                <button class="btn btn-danger edit-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </button>
                <button class="btn btn-warning d-none cancel-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
                <button class="btn btn-success d-none save-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                </button>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary delete-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <form action="{% url 'owner:regular_cancel' regular_lesson.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">受講中止</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">データがありません。</td>
        </tr>
        {% endfor %}
        </tbody>  
    </table>
  <div id="custom-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-message">
                <span class="modal-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="yellow" class="bi bi-exclamation-triangle-fill" viewBox="0 0 20 20">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                </span>本当に受講を中止しますか？
            </p>
            <button id="modal-confirm" class="btn btn-danger mb-2">はい</button>
            <button id="modal-cancel" class="btn btn-primary">キャンセル</button>
        </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
    var day_choices_json = {{ day_choices_json|safe }};
    var time_choices_json = {{ time_choices_json|safe }};
    var subject_choices_json = {{ subject_choices_json|safe }};

    // 生徒の<select>を変更時に生徒絞り込みの機能をつける
    document.getElementById('student').addEventListener('change', function(event) {

        // イベントの発生源である<select>要素を取得(thisと同じ)
        var selectElement = event.target;

        // フォームを取得し、フォームを送信する
        var form = selectElement.closest('form');
        form.submit();
        
    });

    // 編集ボタンがクリックされたときの処理
    document.querySelectorAll('.btn.btn-danger').forEach(function (button) {
        button.addEventListener('click', function () {
        // 対応する行のデータを取得
        var row = button.closest('tr');
        var subject = row.querySelector('td:nth-child(2)');
        var day = row.querySelector('td:nth-child(3)');
        var time = row.querySelector('td:nth-child(4)');

        // 選択欄を生成して設定
        var subjectSelect = createSelect(subject_choices_json);
        subjectSelect.value = subject.textContent.trim();
        subject.innerHTML = '';
        subject.appendChild(subjectSelect);

        var daySelect = createSelect(day_choices_json);
        daySelect.value = day.textContent.trim();
        day.innerHTML = '';
        day.appendChild(daySelect);

        var timeSelect = createSelect(time_choices_json);
        timeSelect.value = time.textContent.trim();
        time.innerHTML = '';
        time.appendChild(timeSelect);

        // 初期表示で「選択してください」を設定
        if (!subjectSelect.value) {
            var placeholderOption = document.createElement('option');
            placeholderOption.text = '選択してください';
            placeholderOption.value = '';
            placeholderOption.disabled = true;
            placeholderOption.selected = true;
            subjectSelect.insertBefore(placeholderOption, subjectSelect.firstChild);
        }
        if (!daySelect.value) {
            var placeholderOption = document.createElement('option');
            placeholderOption.text = '選択してください';
            placeholderOption.value = '';
            placeholderOption.disabled = true;
            placeholderOption.selected = true;
            daySelect.insertBefore(placeholderOption, daySelect.firstChild);
        }
        if (!timeSelect.value) {
            var placeholderOption = document.createElement('option');
            placeholderOption.text = '選択してください';
            placeholderOption.value = '';
            placeholderOption.disabled = true;
            placeholderOption.selected = true;
            timeSelect.insertBefore(placeholderOption, timeSelect.firstChild);
        }

        // 編集ボタンを非表示にし、編集フォームを表示する
        button.classList.add('d-none');
        row.querySelector('.btn.btn-success').classList.remove('d-none');

        });
    });

    function createSelect(choices) {
        var select = document.createElement('select');
        choices.forEach(function (choice) {
            var option = document.createElement('option');
            option.text = choice[1];
            option.value = choice[0];
            select.appendChild(option);
        });
        return select;
    };

    // deleteドロップダウン用
    document.querySelectorAll('.delete-button').forEach(function (button){
        button.addEventListener('click', function () {

        var dropdownMenu = button.nextElementSibling;
            dropdownMenu.classList.toggle('show');
        });
    });

    // 編集ボタンがクリックされたときの処理
    document.querySelectorAll('.edit-button').forEach(function (button) {
        button.addEventListener('click', function () {
            // 対応する行のデータを取得
            var row = button.closest('tr');
            var subject = row.querySelector('td:nth-child(2)');
            var day = row.querySelector('td:nth-child(3)');
            var time = row.querySelector('td:nth-child(4)');
            
            var subjectSelect = createSelect(subject_choices_json);
            subjectSelect.value = subject.dataset.subject;
            subject.innerHTML = '';
            subject.appendChild(subjectSelect);

            var daySelect = createSelect(day_choices_json);
            daySelect.value = day.dataset.day;
            day.innerHTML = '';
            day.appendChild(daySelect);

            var timeSelect = createSelect(time_choices_json);
            timeSelect.value = time.dataset.time;
            time.innerHTML = '';
            time.appendChild(timeSelect);

            var allButtons = document.querySelectorAll('button');
            allButtons.forEach(function(button) {
                button.disabled = true;
            });

            button.classList.add('d-none');
            row.querySelector('.save-button').classList.remove('d-none');
            row.querySelector('.save-button').disabled = false;
            row.querySelector('.cancel-button').classList.remove('d-none');
            row.querySelector('.cancel-button').disabled = false;
        });
    });

    document.querySelectorAll('.cancel-button').forEach(function (button) {
        button.addEventListener('click', function () {
            var row = button.closest('tr');
            var subject = row.querySelector('td:nth-child(2)');
            var day = row.querySelector('td:nth-child(3)');
            var time = row.querySelector('td:nth-child(4)');

            subject.removeChild(subject.querySelector('select'));
            day.removeChild(day.querySelector('select'));
            time.removeChild(time.querySelector('select'));

            subject_choices_json.forEach(function(choice) {
                if (choice[0] === parseInt(subject.dataset.subject)) {
                    subject.textContent = choice[1];
                }
            });

            day_choices_json.forEach(function(choice) {
                if (choice[0] === parseInt(day.dataset.day)) {
                    day.textContent = choice[1];
                }
            });

            time_choices_json.forEach(function(choice) {
                if (choice[0] === parseInt(time.dataset.time)) {
                    time.textContent = choice[1];
                }
            });

            button.classList.add('d-none');
            row.querySelector('.save-button').classList.add('d-none');
            row.querySelector('.edit-button').classList.remove('d-none');

            var allButtons = document.querySelectorAll('button');
            allButtons.forEach(function(button) {
                button.disabled = false;
            });
        });
    });

    // 警告を表示する
    document.querySelectorAll('.dropdown-item-stop').forEach(function(item) {
        item.addEventListener('click', function(event) {
            document.getElementById('custom-modal').style.display = 'block';
        });
    });

    document.getElementById('modal-confirm').addEventListener('click', function() {
        console.log("受講が取消されました。");
        document.getElementById('custom-modal').style.display = 'none';
    });

    document.getElementById('modal-cancel').addEventListener('click', function() {
        document.getElementById('custom-modal').style.display = 'none';
    });


    document.querySelectorAll('.save-button').forEach(function (button) {
        button.addEventListener('click', function () {
            spinnerOverlay.classList.remove('d-none');
            button.disabled = true;
            var row = button.closest('tr');
            var dataId = row.getAttribute('data-id');
            var studentId = row.getAttribute('data-student-id');

            var subjectSelect = row.querySelector('td:nth-child(2) select');
            var daySelect = row.querySelector('td:nth-child(3) select');
            var timeSelect = row.querySelector('td:nth-child(4) select');

            var selectedSubject = subjectSelect.value;
            var selectedDay = daySelect.value;
            var selectedTime = timeSelect.value;

            var csrfToken = "{{ csrf_token }}";

            // データオブジェクトを作成
            var data = {
                'data_id': dataId,
                'student_id': studentId,
                'subject': selectedSubject,
                'day': selectedDay,
                'time': selectedTime
            };

            jsonData = JSON.stringify(data);
            console.log(data);

            // Ajaxリクエストを送信
            $.ajax({
                type: 'POST',
                url: '{% url "owner:regular_update" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'json_data': jsonData,
                },
                success: function(response) {
                    window.location.href = response.redirect_url;
                },
                error: function(xhr, status, error) {
                    window.location.href = "{% url 'owner:regular_list' %}";
                }
            });
        });
    });
</script>
{% endblock %}
