{% extends 'owner/base.html' %}

{% block title %}受講状況{% endblock %}
{% block headline %}年度切り替え>受講状況{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>生徒名</th>
                <th>科目</th>
                <th>曜日</th>
                <th>時間</th>
                <th>継続</th>
                <th>変更</th>
                <th>終了</th>
            </tr>
        </thead>
        <tbody>
        {% for regular_lesson in regular_lessons %}
            <tr data-id="{{ regular_lesson.id }}" data-student-id="{{ regular_lesson.student.id }}">
                <td>{{ regular_lesson.student }}</td>
                <td data-subject="{{ regular_lesson.subject }}">{{ regular_lesson.get_subject_display }}</td>
                <td data-day="{{ regular_lesson.day }}">{{ regular_lesson.get_day_display }}</td>
                <td data-time="{{ regular_lesson.time }}">{{ regular_lesson.get_time_display }}</td>
                <td>
                    <!-- 継続ボタン -->
                    <form class="continue-form" data-selected="false" action="{% url 'owner:update_regular_continue' regular_lesson.pk %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-success continue-button" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </button>
                    </form>
                </td>
                <td>
                    <!-- 編集ボタン -->
                    <button class="btn btn-danger edit-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </button>
                    <button class="btn btn-warning d-none cancel-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                    <button class="btn btn-success d-none save-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                        </svg>
                    </button>
                </td>
                <td>
                    <!-- 削除ボタン -->
                    <form data-selected="false" action="{% url 'owner:update_regular_delete' regular_lesson.pk %}" method="post" class="delete-form">
                        {% csrf_token %}
                        <button class="btn btn-secondary delete-button" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4 class="mt-5">完了済み</h4>
    <table class="table">
        <thead>
            <tr>
                <th>生徒名</th>
                <th>科目</th>
                <th>曜日</th>
                <th>時間</th>
            </tr>
        </thead>
        <tbody>
        {% for regular_lesson in upgraded_regular_lessons %}
            <tr data-id="{{ regular_lesson.id }}" data-student-id="{{ regular_lesson.student.id }}">
                <td>{{ regular_lesson.student }}</td>
                <td data-subject="{{ regular_lesson.subject }}">{{ regular_lesson.get_subject_display }}</td>
                <td data-day="{{ regular_lesson.day }}">{{ regular_lesson.get_day_display }}</td>
                <td data-time="{{ regular_lesson.time }}">{{ regular_lesson.get_time_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">確認</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">本当に終了しますか？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button id="deleteConfirmButton" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="continueConfirmationModal" tabindex="-1" aria-labelledby="continueConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="continueConfirmationModalLabel">確認</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">本当に続行しますか？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button id="continueConfirmButton" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var day_choices_json = {{ day_choices_json|safe }};
    var time_choices_json = {{ time_choices_json|safe }};
    var subject_choices_json = {{ subject_choices_json|safe }};

    function createSelect(choices) {
        var select = document.createElement('select');
        choices.forEach(function (choice) {
            var option = document.createElement('option');
            option.text = choice[1];
            option.value = choice[0];
            select.appendChild(option);
        });
        return select;
    };

    // 編集ボタンがクリックされたときの処理
    document.querySelectorAll('.edit-button').forEach(function (button) {
        button.addEventListener('click', function () {
            // 対応する行のデータを取得
            var row = button.closest('tr');
            var subject = row.querySelector('td:nth-child(2)');
            var day = row.querySelector('td:nth-child(3)');
            var time = row.querySelector('td:nth-child(4)');
            
            var subjectSelect = createSelect(subject_choices_json);
            subjectSelect.value = subject.dataset.subject;
            subject.innerHTML = '';
            subject.appendChild(subjectSelect);

            var daySelect = createSelect(day_choices_json);
            daySelect.value = day.dataset.day;
            day.innerHTML = '';
            day.appendChild(daySelect);

            var timeSelect = createSelect(time_choices_json);
            timeSelect.value = time.dataset.time;
            time.innerHTML = '';
            time.appendChild(timeSelect);

            var allButtons = document.querySelectorAll('button');
            allButtons.forEach(function(button) {
                button.disabled = true;
            });

            button.classList.add('d-none');
            row.querySelector('.save-button').classList.remove('d-none');
            row.querySelector('.save-button').disabled = false;
            row.querySelector('.cancel-button').classList.remove('d-none');
            row.querySelector('.cancel-button').disabled = false;
        });
    });

    var deleteButton = document.querySelectorAll('.delete-button');
    var continueButton = document.querySelectorAll('.continue-button');
    var deleteConfirmationModal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'));
    var continueConfirmationModal = new bootstrap.Modal(document.getElementById('continueConfirmationModal'));
    var deleteConfirmButton = document.getElementById('deleteConfirmButton');
    var continueConfirmButton = document.getElementById('continueConfirmButton');
    

    continueButton.forEach(function(button) {
        button.addEventListener('click', function() {

            // 他のすべてのボタンの親フォームのdata-selectedをfalseに設定(2回目押された時に対応するため)
            continueButton.forEach(function(otherButton) {
                var otherParentForm = otherButton.closest('form');
                if (otherParentForm) {
                    otherParentForm.setAttribute('data-selected', 'false');
                }
            });
            
            // モーダルを開く
            continueConfirmationModal.show();

            // ボタンの親フォームを特定しdata-selected属性をtureに設定する
            button.closest('form').setAttribute('data-selected', 'true')
        });
    });

    // 削除ボタンの設定
    deleteButton.forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            
            // 他のすべてのボタンの親フォームのdata-selectedをfalseに設定
            deleteButton.forEach(function(otherButton) {
                var otherParentForm = otherButton.closest('form');
                if (otherParentForm) {
                    otherParentForm.setAttribute('data-selected', 'false');
                }
            });

            // モーダルを開く
            deleteConfirmationModal.show();

            // クリックされたボタンの親フォームのdata-selected属性をtrueに設定
            var parentForm = button.closest('form');
            if (parentForm) {
                parentForm.setAttribute('data-selected', 'true');
            }
        });
    });

    // 継続の完了を確認後再送信する
    continueConfirmButton.addEventListener('click', function() {
        continueConfirmationModal.hide();

        // continue-formのうちdata-selectedがtureのものを送信
        document.querySelector('form.continue-form[data-selected="true"]').submit();
    });

    // 削除の完了を確認後再送信する
    deleteConfirmButton.addEventListener('click', function(event) {
        deleteConfirmationModal.hide();
      
        // data-selectedがtrueの削除フォームを送信
        document.querySelector('form.delete-form[data-selected="true"]').submit();
 
    });
    document.querySelectorAll('.cancel-button').forEach(function (button) {
        button.addEventListener('click', function () {
            var row = button.closest('tr');
            var subject = row.querySelector('td:nth-child(2)');
            var day = row.querySelector('td:nth-child(3)');
            var time = row.querySelector('td:nth-child(4)');

            subject.removeChild(subject.querySelector('select'));
            day.removeChild(day.querySelector('select'));
            time.removeChild(time.querySelector('select'));

            subject_choices_json.forEach(function(choice) {
                if (choice[0] === parseInt(subject.dataset.subject)) {
                    subject.textContent = choice[1];
                }
            });

            day_choices_json.forEach(function(choice) {
                if (choice[0] === parseInt(day.dataset.day)) {
                    day.textContent = choice[1];
                }
            });

            time_choices_json.forEach(function(choice) {
                if (choice[0] === parseInt(time.dataset.time)) {
                    time.textContent = choice[1];
                }
            });

            button.classList.add('d-none');
            row.querySelector('.save-button').classList.add('d-none');
            row.querySelector('.edit-button').classList.remove('d-none');

            var allButtons = document.querySelectorAll('button');
            allButtons.forEach(function(button) {
                button.disabled = false;
            });
        });
    });

    document.querySelectorAll('.save-button').forEach(function (button) {
        button.addEventListener('click', function () {
            button.disabled = true;
            var row = button.closest('tr');
            var dataId = row.getAttribute('data-id');
            var studentId = row.getAttribute('data-student-id');

            var subjectSelect = row.querySelector('td:nth-child(2) select');
            var daySelect = row.querySelector('td:nth-child(3) select');
            var timeSelect = row.querySelector('td:nth-child(4) select');

            var selectedSubject = subjectSelect.value;
            var selectedDay = daySelect.value;
            var selectedTime = timeSelect.value;

            var csrfToken = "{{ csrf_token }}";

            var data = {
                'data_id': dataId,
                'student_id': studentId,
                'subject': selectedSubject,
                'day': selectedDay,
                'time': selectedTime
            };

            jsonData = JSON.stringify(data);

            spinnerOverlay.classList.remove('d-none')

            // Ajaxリクエストを送信
            $.ajax({
            type: 'POST',
            url: '{% url "owner:update_regular_update" %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'json_data': jsonData,
            },
            success: function(response) {
                window.location.href = response.redirect_url;
            },
            error: function(xhr, status, error) {
                var response = JSON.parse(xhr.responseText);
                alert(response.message);
                button.disabled = false;
                spinnerOverlay.classList.add('d-none')
            },
            
            });
        });
    });
</script>
{% endblock %}