{% extends 'owner/base.html' %}

{% block title %}年間予定{% endblock %}
{% block headline %}年度切り替え>年間予定{% endblock %}

{% block head %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.11/index.global.min.js"></script>
{% endblock %}

{% block style %}
<style>
    #calendar a {
        color: black!important;
        text-decoration: none!important;
    }
    #calendar-container {
        max-width: 100%;
        overflow-x: hidden; /* 横方向のスクロールバーを非表示 */
    }

    /* カレンダーのスタイル */
    #calendar {
        max-width: 100%;
    }

    /* イベントのスタイル */
    .fc-event {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }

    /* イベントのホバー時のスタイル */
    .fc-event:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
{% endblock %}
  
{% block content %}
<h2 class="headline-design">次年度カレンダー</h2>
<div class="d-flex justify-content-center">
    <div id='calendar' style='width: 100%; max-height: 50%;' class=""></div>
</div>

<!-- 休校選択用のモーダルウィンドウ -->
<div class="modal fade" id="closureModal" tabindex="-1" aria-labelledby="closureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="closureModalLabel">休校選択</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="closureCheckbox">
                <label class="form-check-label" for="closureCheckbox">
                休校
                </label>
            </div>
            <div class="mb-3">
                <label for="eventTitle" class="form-label">イベント名</label>
                <input type="text" class="form-control" id="eventTitle">
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary" id="confirmClosureBtn">選択</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 今日の日付を取得
        var today = new Date();
        
        // 年度開始を3月にするため、年度開始日を設定
        var startOfYear = new Date(today.getFullYear() + 1, 2, 1);
        
        // 今の日付が1月か2月の場合は年度を1年前に設定
        if (today.getMonth() === 0 || today.getMonth() === 1) {
            startOfYear.setFullYear(startOfYear.getFullYear());
        }
        
        // 年度終了日は次の年の2月末日とする
        var endOfYear = new Date(startOfYear.getFullYear() + 1, 2, 0);
        
        // 年度の開始日は3月1日、年度終了日は来年の2月末日とする
        var validRangeStart = startOfYear.getFullYear() + '-03-01';
        var validRangeEnd = endOfYear.getFullYear() + '-03-01';

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'ja',
            validRange: {
                start: validRangeStart,
                end: validRangeEnd
            },
            events: {{ events|safe }},
            selectable: true,
            select: function(info) {
                // 選択された日付を取得
                var selectedDate = info.startStr;
                
                // 休校選択用のモーダルウィンドウを表示
                $('#closureModal').modal('show');
                
                // 選択された日付を一時的に保持
                $('#closureModal').data('selectedDate', selectedDate);
            },
        });
        calendar.render();
    });

    // 休校選択の確定ボタンがクリックされた場合の処理
    $('#confirmClosureBtn').on('click', function() {
        var selectedDate = $('#closureModal').data('selectedDate');
        var isClosure = $('#closureCheckbox').is(':checked');
        var eventTitle = $('#eventTitle').val();  // イベント名の入力値を取得
        
        // 休校が選択された場合、イベント名を'休校'に設定して送信
        if (isClosure) {
            addEvent(selectedDate, '休校', true);  // is_closureをtrueに設定
        } else {
            addEvent(selectedDate, eventTitle, false);  // is_closureをfalseに設定
        }
        
        // モーダルウィンドウを閉じる
        $('#closureModal').modal('hide');
    });


    function addEvent(date, title, isClosure) {
    // キャンセルが選択された場合は何もしない
    if (title === null) {
        return;
    }

    // タイトルが空の場合は警告を表示して何もしない
    if (title.trim() === '') {
        alert('イベント名を入力してください。');
        return;
    }
    
    $.ajax({
        type: "POST",
        url: "{% url 'owner:year_schedule_add' %}",
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}', 
            'date': date,
            'title': title,
            'is_closure': isClosure 
        },
        success: function(response) {
            location.reload();
        },
        error: function(xhr, textStatus, errorThrown) {
            alert('イベントを追加できませんでした。');
        }
    });
}
</script>
{% endblock %}