{% extends 'parent/base.html' %}

{% block title %}ファイル閲覧{% endblock %}

{% block content %}
<div class="container">
    <h2>ファイル一覧</h2>
    <div class="row">
        {% for file in files %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ file }}</h5>
                    {% if file.file %}
                    <p class="card-text">アップロード日: {{ file.created_at }}</p>
                    <a href="{% url 'parent:file_detail' user.parent_profile.current_student.pk file.pk %}" class="btn btn-primary">表示</a>
                    {% else %}
                    <p class="card-text">No file uploaded</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}